// author: Victor K.
@import '../../assets/styles/mixins.scss';

.field {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: $text-grey;
  
  input {
    background-color: $bg-lgrey;
    padding: 15px;
    border: 0;
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: inherit;
    color: inherit;
    outline: none;
    &.filled {
      color: $text-main;
    }
  }
}