// author: Victor K.
@import '../../assets/styles/mixins.scss';

.RoundedBlock {
  padding: 30px;
  background-color: white;
  border-radius: 15px;
  h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: -0.02em;
    margin-top: 0px;
    margin-bottom: 30px;
  }
}
