// author: Victor K.
@import '../../assets/styles/mixins.scss';

.blockWrapper {
  @include MainBlocksWrapper;
}

.blockContent {
  @include MainBlocksContent;
}

.blockTitle {
  @include Head2;
}

.blockDescr {
  @include Head2{
    margin-bottom: 100px;
  };
}
