// author: Victor K.
@import '../../assets/styles/mixins.scss';

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg {
  width: 100%;
  height: 100%;
  position: inherit;
  background-color: $bg-opacity;
}

.content {
  width: 410px;
  padding: 30px;
  background-color: $bg-white;
  border-radius: 15px;
  position: relative;

  .close {
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 30px;
    right: 30px;
    background-image: url('../../assets/images/cross.svg');
    background-position: center;
    background-repeat: no-repeat;
  }
}

.content {
  h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -0.02em;
    width: 70%;
    margin: 0;
  }

  .form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-top: 30px;
  }

  .fake {
    background-color: $bg-lgrey;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: $text-grey;
    background-image: url('../../assets/images/chevron.svg');
    background-repeat: no-repeat;
    background-position: calc(100% - 15px) center;
  }
}

.button {
  @include Button;
  margin-top: 40px;
}