// author: Victor K.
@import '../../assets/styles/mixins.scss';

.add_new {
  position: absolute;
  top: 30px;
  right: 30px;

  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: -0.02em;

  display: flex;
  flex-direction: row;
  column-gap: 6px;
  align-items: center;
  cursor: pointer;

  &:before {
    display: block;
    content: '';
    width: 20px;
    height: 20px;
    background-color: $obj-purple;
    border-radius: 50%;
    background-image: url('../../assets/images/add.svg');
    background-position: center;
    background-repeat: no-repeat;
  }
}