// author: Victor K.
@import '../../../assets/styles/mixins.scss';

.historyItem {
  display: grid;
  grid-template-columns: 0px repeat(6, auto);
  column-gap: 20px;

  &::before {
    content: '';
    width: 8px;
    height: 100%;
    border-radius: 20px;
    background-color: $obj-green;
  }

  &.bad::before {
    background-color: $obj-red;
  }
}

.row {
  display: flex;
  width: max-content;
  flex-direction: column;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 100%;
  /* identical to box height, or 13px */
  
  letter-spacing: -0.02em;
  row-gap: 7px;

  span {
    color: $text-grey;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 100%;
    /* identical to box height, or 13px */

    letter-spacing: -0.02em;
  }
  a {
    color: inherit;
  }
}