// author: Victor K.
@import '../../../assets/styles/mixins.scss';

.statItem {
  display: grid;
  grid-template-columns: 20px 20px repeat(4, 1fr);
  column-gap: 20px;
  border-bottom: 1px solid $obj-border;
  padding: 20px 0 17px;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -0.02em;
  align-items: center;

  .good {
    color: $text-green;
  }
  .bad {
    color: $text-red;
  }
  .warn {
    color: $obj-warn;
  }
}

.arrowDown {
  transform: rotate(90deg);
  path {
    fill: red;
  }
}