// author: Victor K.
@import '../../assets/styles/mixins.scss';

.main {
  margin-bottom: 30px;
}

.mainContent {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.datas {
  display: flex;
  max-width: 100%;
  flex-direction: row;
  row-gap: 30px;
  column-gap: 30px;
  align-items: flex-start;

  @include for-desktop-sm {
    flex-wrap: wrap;
  }
}
