// author: Victor K.
@import '../../../assets/styles/mixins.scss';

.budgetItem {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  color: $text-grey;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: -0.02em;

  div {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: $text-main;

    &.bad {
      color: $text-red;
    }
    &.warn {
      color: $obj-warn;
    }
  }
}

