// author: Victor K.
@import '../../assets/styles/mixins.scss';

.history {
  // width: 100%;
}

.table {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  padding-right: 10px;
  max-height: 400px;
  overflow-y: scroll;
}