// author: Victor K.
@import '../../assets/styles/mixins.scss';

.stats {
  width: 100%;
  display: flex;
  flex-direction: row;
  column-gap: 30px;
  // align-items: flex-start;
}

.telegramStats {
  width: 100%;
  position: relative;

  .table {
    padding-right: 10px;
    max-height: 400px;
    overflow-y: scroll;
  }
}



.budget {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}