// author: Victor K.
@import '../../../assets/styles/mixins.scss';

.legend {
  position: absolute;
  top: 30px;
  right: 30px;
  display: flex;
  flex-direction: row;
  column-gap: 30px;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -0.02em;

  div {
    display: inherit;
    flex-direction: inherit;
    align-items: inherit;
  }

  .budget,
  .benefit {
    &::before {
      display: block;
      content: '';
      width: 8px;
      height: 8px;
      background-color: $obj-red;
      border-radius: 50%;
      margin-right: 5px;
    }
  }

  .benefit::before {
    background-color: $obj-green;
  }

  .scale {
    color: $text-grey;
    font-size: 13px;
    margin-left: 30px;

    span {
      display: inherit;
      flex-direction: inherit;
      align-items: inherit;
      column-gap: 10px;
      color: $text-main;
      font-size: 16px;
      margin-left: 10px;

      &::before,
      &::after {
        display: block;
        content: '';
        width: 20px;
        height: 20px;
        border-radius: 4px;
        background-color: $obj-border;
        background-image: url('../../../assets/images/min.svg');
        background-repeat: no-repeat;
        background-position: center;
      }
      &::after {
        background-image: url('../../../assets/images/max.svg');
      }
    }
  }
}