// author: Victor K.
// bg colors
$bg-white: #FFFFFF;
$bg-lgrey: #F7F6F9;
$bg-opacity: rgba(#000000, .4);

// objects colors
$obj-main: #000;
$obj-border: #E5E4ED;
$obj-green: #2DC690;
$obj-red: #EB4D4F;
$obj-warn: orange;
$obj-purple: #7445FB;

// text colors
$text-main: #0A031C;
$text-grey: #9997A1;
$text-white: #fff;
$text-red: $obj-red;
$text-green: $obj-green;
