// author: Victor K.
@import '../../assets/styles/mixins.scss';

.header {
  margin-top: 0px;
  // padding: 0px;
  margin-bottom: 0px;
}

.content {
  display: flex;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  @include AnimTransUp;
  
  position: relative;
  z-index: 1;
}
